<app-chon-danh-muc>
    <div class="form-container first-body">
        <h2>Chọn danh mục thiết bị muốn bán hàng</h2>

        <div class="form-group">
            <label for="category">Chọn danh mục:</label>
            <select id="category">
                <option value="other"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="model">Chọn model thiết bị</label>
            <input type="text" id="model" placeholder="Nhập model thiết bị">
        </div>
    </div>
</app-chon-danh-muc>